html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 56px;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
}

#footer i.fa {
    margin: 0 20px;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
    background: url('../images/background.jpg');
}

.landing {
    margin-top: 40px;
    text-align: center;
}

.landing h1 {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

button.btn.btn-primary {
    margin-top: 80px;
    border: 1px solid white;
    padding: 10px;
    text-transform: uppercase;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 0;
}

.countdown {
    margin-top: 80px;
    color: white;
    font-size: 24px;
}

.countdown > div {
    padding: 0;
}

.countdown .count-container {
    border-right: 1px dashed #666;
}

.countdown .seconds-count-container {
    border-right: none;
}

.details {
    padding-top: 20px;
    display: none;
    color: white;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
}

.details p {
    opacity: 0;
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    }

/* xs */
@media (max-width: 767px) {
    .landing h1 {
        font-size: 40px;
    }

    .countdown {
        margin-top: 30px;
    }

    button.btn.btn-primary {
        margin-top: 20px;
    }
}
